# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
bin/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
vendor/
tests/
bugs/

# Generated output files
output.pdf
/*.pdf

# Generated test artifacts
testdata/*.pdf
testdata/*.log

# System files
.DS_Store
Thumbs.db